
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1014px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 456px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: #f5f5f5 url("../gallery_gen/a81e666fdf78ae751f0df4beb099a07d.jpg") no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent url("../gallery_gen/b4302f89c77ef53f2eb060dcedbc10ca.jpg") repeat-x center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 1570px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1570px; overflow: hidden; min-height: 1570px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #292929; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #292929; border-color: #dbc038; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #dbc038; }
#wb_element_instance0 { top: 27px; left: 60px; min-width: 250px; width: 250px; min-height: 29px; height: 29px; display: block; z-index: 893; }
#wb_element_instance0 ul { background: #292929 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #242424 none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 15px 10px 15px; font: normal normal 18px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 18px 'Roboto',sans-serif; text-decoration: none; color: #dbc038; line-height: 20px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 18px 'Roboto',sans-serif; text-decoration: none; color: #dbc038; line-height: 20px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { top: 26px; left: 75px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; z-index: 689; }
#wb_element_instance2 { top: 20px; left: 10px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 596; }
#wb_element_instance2 img { width: 70px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { top: 22px; left: 151px; min-width: 70px; width: 70px; min-height: 32px; height: 32px; display: block; z-index: 694; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { top: 56px; left: 75px; min-width: 130px; width: 130px; min-height: 24px; height: 24px; display: block; z-index: 695; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance5 { top: 0px; left: 5px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 671; }
#wb_element_instance6 { top: 906px; left: 21px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; z-index: 565; }
#wb_element_instance6 .wb_button { width: 130px; height: 50px; font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 3px solid #e0e0e0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #b5aa68 none repeat left top; }
#wb_element_instance6 .wb_button > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance6 .wb_button:hover > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance6 .wb_button:hover { background: #e6e6e6 none repeat left top; }
#wb_element_instance6 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance6 .wb_button:active { background: #7a7628 none repeat left top; }
#wb_element_instance7 { top: 906px; left: 165px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; z-index: 566; }
#wb_element_instance7 .wb_button { width: 130px; height: 50px; font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 3px solid #e0e0e0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #b5aa68 none repeat left top; }
#wb_element_instance7 .wb_button > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance7 .wb_button:hover > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance7 .wb_button:hover { background: #e6e6e6 none repeat left top; }
#wb_element_instance7 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance7 .wb_button:active { background: #7a7628 none repeat left top; }
#wb_element_instance8 { top: 552px; left: 32px; min-width: 255px; width: 255px; min-height: 304px; height: 304px; display: block; z-index: 568; }
#wb_element_instance9 { top: 20px; left: 5px; min-width: 310px; width: 310px; min-height: 504px; height: 504px; display: block; z-index: 575; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance10 { top: 990px; left: 65px; min-width: 190px; width: 190px; min-height: 24px; height: 24px; display: block; z-index: 576; }
#wb_element_instance11 { top: 1064px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance12 { top: 44px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1025px; }
	#wb_footer { height: 120px; }
	body, .wb_sbg { min-width: 768px; min-height: 1245px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 1245px; overflow: visible; min-height: 1245px; }
	#wb_element_instance0 { top: 30px; left: 290px; min-width: 470px; width: 470px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 20px; left: 80px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance2 { top: 20px; left: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; overflow: hidden; }
	#wb_element_instance2 img { width: 64px; height: 64px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance3 { top: 20px; left: 190px; min-width: 70px; width: 70px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance4 { top: 54px; left: 80px; min-width: 180px; width: 180px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance5 { top: 40px; left: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 474px; left: 390px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance6 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance7 { top: 474px; left: 535px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance8 { top: 130px; left: 397px; min-width: 255px; width: 255px; min-height: 304px; height: 304px; display: block; }
	#wb_element_instance9 { top: 20px; left: 60px; min-width: 290px; width: 290px; min-height: 504px; height: 504px; display: block; }
	#wb_element_instance10 { top: 1000px; left: 277px; min-width: 240px; width: 240px; min-height: 25px; height: 25px; display: block; }
	#wb_element_instance11 { top: 1064px; left: 0px; display: block; }
	#wb_element_instance12 { top: 44px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1028px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 1228px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 1228px; overflow: visible; min-height: 1228px; }
	#wb_element_instance0 { top: 30px; left: 380px; min-width: 610px; width: 610px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 28px; left: 90px; min-width: 270px; width: 270px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance2 { top: 20px; left: 20px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; }
	#wb_element_instance2 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { top: 36px; left: 214px; min-width: 70px; width: 70px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance4 { top: 28px; left: 268px; min-width: 180px; width: 180px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance5 { top: 40px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 460px; left: 430px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance6 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance7 { top: 460px; left: 580px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance8 { top: 115px; left: 440px; min-width: 255px; width: 255px; min-height: 304px; height: 304px; display: block; }
	#wb_element_instance9 { top: 20px; left: 84px; min-width: 296px; width: 296px; min-height: 504px; height: 504px; display: block; }
	#wb_element_instance10 { top: 1000px; left: 375px; min-width: 240px; width: 240px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance11 { top: 1064px; left: 0px; display: block; }
	#wb_element_instance12 { top: 44px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1044px; }
	#wb_footer { height: 25px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1169px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1169px; overflow: visible; min-height: 1169px; }
	#wb_element_instance0 { top: 36px; left: 620px; min-width: 580px; width: 580px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 28px; left: 100px; min-width: 140px; width: 140px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 { top: 20px; left: 20px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; }
	#wb_element_instance2 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { top: 38px; left: 245px; min-width: 70px; width: 70px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance4 { top: 28px; left: 300px; min-width: 180px; width: 180px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance5 { top: 1px; left: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 460px; left: 495px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance6 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance7 { top: 460px; left: 649px; min-width: 130px; width: 130px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 .wb_button { width: 130px; height: 50px; }
	#wb_element_instance8 { top: 110px; left: 510px; min-width: 255px; width: 255px; min-height: 304px; height: 304px; display: block; }
	#wb_element_instance9 { top: 20px; left: 120px; min-width: 290px; width: 290px; min-height: 504px; height: 504px; display: block; }
	#wb_element_instance10 { top: 1016px; left: 480px; min-width: 240px; width: 240px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance11 { top: 1064px; left: 0px; display: block; }
	#wb_element_instance12 { top: 44px; left: 0px; display: block; }
}table.TahomaTable {  font-family: Tahoma, Geneva, sans-serif;  border: 2px solid #4F7849;  background-color: #EEEEEE;  width: 100%;  text-align: center;  border-collapse: collapse;}table.TahomaTable td, table.TahomaTable th {  border: 1px solid #4F7849;  padding: 3px 2px;}table.TahomaTable tbody td {  font-size: 13px;  color: #4F7849;}table.TahomaTable tr:nth-child(even) {  background: #CEE0CC;}table.TahomaTable thead {  background: #4F7849;  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);  border-bottom: 1px solid #444444;}table.TahomaTable thead th {  font-size: 15px;  font-weight: bold;  color: #FFFFFF;  text-align: center;  border-left: 2px solid #D0E4F5;}table.TahomaTable thead th:first-child {  border-left: none;}table.TahomaTable tfoot td {  font-size: 21px;}

@media (max-width: 767px) {
}
